In [27]:
# 1
var1 = 13
print(var1)

13

In [5]:
# 2
print(type(8.5))

<class 'float'>

In [28]:
# 3
print(type(var1))

<class 'int'>

In [12]:
# 4
mi_nombre = 'Gustavo'

In [13]:
# 5
num_complex = 5 + 3j
print(f'El número {num_complex} es de tipo {type(num_complex)}')

El número (5+3j) es de tipo <class 'complex'>

In [14]:
# 6
print(type(num_complex))

<class 'complex'>

In [24]:
# 7
import math
print(f'Pi redondeado a 4 dígitos: {math.pi:.4f}')

Pi redondeado a 4 dígitos: 3.1416

In [25]:
# 8
bool_var1 = True
bool_var2 = 'True'

In [26]:
# 9
print(f'Dato: {bool_var1} - tipo de dato: {type(bool_var1)}')
print(f'Dato: {bool_var2} - tipo de dato: {type(bool_var2)}')

Dato: True - tipo de dato: <class 'bool'>
Dato: True - tipo de dato: <class 'str'>

In [29]:
# 10
var2 = 15 + 8.3

In [31]:
# 11
15-3j + 10+8j

(25+5j)

In [32]:
# 12
40 + 10-30j

(50-30j)

In [33]:
# 13
4 * 5

20

In [35]:
# 14
print(2 ** 8)

256

In [36]:
# 15
var3 = 27 / 4
print(var3)

6.75

In [38]:
# 16
27 // 4

6

In [39]:
# 17
27 % 4

3

In [41]:
# 18
4 * (27 // 4) + (27% 4)

27

In [42]:
# 19
var4 = 'Hola ' + 'Henry'
print(var4)

Hola Henry

In [43]:
# 20
'2' == 2

False

In [44]:
# 21
int('20') == 20

True

In [47]:
# 22
a = float('3,8')
a
# Arroja error porque hay una coma en lugar de punto como indicador de decimales, y el parse no funciona de esa manera

ValueError: could not convert string to float: '3,8'

In [48]:
# 23
var5 = 3
var5 -= 10
var5

-7

In [60]:
# 24
1 << 2

# El operador << es un operador de shifteo que trabaja bit a bit (y claramente trabaja en sistema binario).
#
# El sistema binario es un sistema de numeración donde existen solo 2 elementos para su representación.
# De esta forma, el primer elemento es el 0, luego el 1, y luego, al no haber más dígitos, se para a la siguiente
# unidad, las decenas, quedando 10.
# 
# En este caso, el 1 sería un 2 ** 0 o lo que es lo mismo 00000001. Si shifteamos 2 lugares, queda 00000100
# que representa al número 4 en sistema decimal

4

In [62]:
# 25
2 + '2'
# Arroja error ya que son de tipos distintos y no está definida la suma en este caso, a diferencia de la multiplicación

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [63]:
# 26
10 * "Aguante Henry! "

'Aguante Henry! Aguante Henry! Aguante Henry! Aguante Henry! Aguante Henry! Aguante Henry! Aguante Henry! Aguante Henry! Aguante Henry! Aguante Henry! '